.search-field {
    -fx-background-color: rgba(23, 169, 168, 1);
    -fx-text-fill: rgba(255, 255, 247, 1);
    -fx-background-image: url('../images/search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-size: 20px;
    -fx-background-size: 12%;
}
.jfx-snackbar-content {
    -fx-background-color: #ccc;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
    -fx-font-size:20px;
}
.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}
.jfx-snackbar-layout{
-fx-background-color: #2da96e;
}
.jfx-snackbar{
-fx-background-color: #323232;
}

.hbox-top-background {
    -fx-background-color: #31373c;
}

.logo-background {

    -fx-background-color:#f44336;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #f44336;
}

.hbox-title {
    -fx-text-fill: rgba(51, 51, 51, .8);
    -fx-font-size: 20px;
    -fx-font-family: cursive;
}
.text-dashboard{
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
}
.control-background {
    -fx-background-color: #22282c;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: rgb(74, 76, 78);
}

.hamburger-button {
    -fx-background-image: url("../images/menu.png");

}

.open-menu {
    -fx-background-image: url("../images/arrow.png");

}

.logout-button {
    -fx-background-image: url("../images/logout.png");
}

.hamburger-button, .logout-button, .open-menu  {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
    -fx-background-position: center;
}

.hamburger-button:hover, .logout-button:hover, .open-menu:hover {

}

.sidebar-menu {

    -fx-background-color: #22282c;
     -fx-border-color: rgb(74, 76, 78);
        -fx-border-style: solid;
        -fx-border-width: 1px;
        /* -fx-border-radius: 10px; */
}

.menu-buttons {
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    -fx-background-color: #22282c;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 5px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-alignment: center;
}

.menu-buttons-logout {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 5px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-alignment: center;
}

.menu-buttons:hover {
    -fx-text-fill: #dde400;
    -fx-background-color: #333333;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 5px;
    -fx-border-color: transparent transparent transparent rgba(29, 114, 107, 1);
}

.menu-buttons-selected {
    -fx-text-fill: #dde400;
    -fx-background-color: #333333;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 5px;
    -fx-border-color: transparent transparent transparent rgba(29, 114, 107, 1);
}

.back-buttons {
    -fx-text-fill: #fff;
    -fx-font-size: 24px;
    -fx-background-color: #22282c;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 5px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.back-buttons:hover {
    -fx-text-fill: #dde400;
}

.back-buttons-selected {
    -fx-text-fill: #dde400;
    -fx-background-color: #333333;
}

.pane-user {
    -fx-border-color: rgba(72, 78, 72, .5);
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
}

.pane-user-text {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
}

.pane-user-pic {
    -fx-background-radius: 5em;
}

.vbox-panel {
    -fx-background-color: rgba(238, 238, 238, 1);
}

.hbox-header {
    -fx-background-color: rgba(250, 250, 250, 1);
}

.bg-dark{
    -fx-background-color: #22282c;
 }

 .bg-dark-sub{
   -fx-background-color:#31373c;
 }

 .button-raised{
    -fx-padding: 0.7em 0.2em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: #520a12;
    -fx-text-fill: WHITE;
}

.button-cancel-center{
    -fx-padding: 0.7em 0.2em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: #0c2754;
    -fx-text-fill: WHITE;
    -fx-text-alignment: center;
}