/* Application wide styles */

.label {
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
.login-box {
    -fx-font-size: 20px;
}
/* Component specific styles */
.button-raised {
    -fx-padding: 0.7em 0.2em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: #520a12;
    -fx-text-fill: WHITE;
    -fx-text-alignment: center;
}

.label-raised {
    -fx-padding: 0.2em;
    -fx-margin: 0 0.5em 0 0;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: #267678;
    -fx-text-fill: #d3d930;
}

.button-cancel-center {
    -fx-padding: 0.7em 0.2em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: #0c2754;
    -fx-text-fill: WHITE;
    -fx-text-alignment: center;
}

.dashboard-bottom {
    -fx-background-color: #520a12;
    -fx-text-fill: #520a12;
}

.button-dashboard {
    -fx-padding: 0;
    -fx-text-fill: #ffffff;
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-insets: 1;
    -fx-background-color: #22282c;
    /* -fx-border-radius: 5; */
    -fx-border-color: rgb(74, 76, 78);
}

.button-success {
    -fx-padding: 0.7em 0.2em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: #3ec6b2;
    -fx-text-fill: BLACK;
}
.text-dashboard {
    -fx-font-size: 22px;
    -fx-text-fill: #ffffff;
}
.button-success-gui {
    -fx-padding: 0.7em 0.2em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: #3ec6b2;
    -fx-text-fill: WHITE;
}

.jfx-snackbar-content {
    -fx-background-color: #ccc;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}
.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}
.jfx-snackbar-layout {
    -fx-background-color: #000000;
}
.jfx-snackbar {
    -fx-background-color: #323232;
}

.button-activity {
    -fx-padding: 0.5em 0.1em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #3b4053;
    -fx-text-fill: BLACK;
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-border-color: #dde400;
    -fx-border-width: 1 1 1 1;
    -fx-background-insets: 0;
}

.button-primary {
    -fx-padding: 0.7em 0.2em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: #25898e;
    -fx-text-fill: WHITE;
    -fx-text-alignment: center;
}

.button-primary-disable {
    -fx-padding: 0.7em 0.2em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: #0b2a2b;
    -fx-text-fill: WHITE;
    -fx-text-alignment: center;
}

.button-primary-sm {
    -fx-padding: 0.5em 0.1em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: #3d5afe;
    -fx-text-fill: WHITE;
}

.table-cell.name-column {
    -fx-background-color: palegreen;
}

.table-view .column-header.name-column {
    -fx-base: palegreen;
}
.bg-dark-mekanik {
    -fx-background-color: #47535c;
}

.box-shadow {
    -fx-background-color: WHITE;
    -fx-background-insets: 10;
    -fx-background-radius: 0;

    -fx-effect: dropshadow(three-pass-box, GREY, 10, 0, 0, 0);
}

.button-default-sm {
    -fx-padding: 0.5em 0.1em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: #ffffff;
    -fx-text-fill: BLACK;
}

.button-cancel {
    -fx-padding: 0.7em 0.2em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: #0c2754;
    -fx-text-fill: WHITE;
}
.button-other {
    -fx-padding: 0.7em 0.2em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: #13635e;
    -fx-text-fill: WHITE;
}
.error-message {
    -fx-font-family: Century Gothic;
    -fx-text-fill: #ff3333;
    -fx-font-size: 13px;
}

.font-white {
    -fx-text-fill: WHITE;
    -fx-font-size: 20px;
}

.font-online {
    -fx-text-fill: GREEN;
    -fx-font-size: 20px;
}

.font-offline {
    -fx-text-fill: RED;
    -fx-font-size: 20px;
}

.bg-white {
    -fx-background-color: #ffffff;
}

.bg-red {
    -fx-background-color: #520a12;
}

.bg-dark {
    -fx-background-color: #22282c;
}

.bg-dark-sub {
    -fx-background-color: #31373c;
}

.bg-dark-light {
    -fx-background-color: #9c9994;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.bg-dark-sub-mechanic {
    -fx-background-color: #47535c;
}

.thumb {
    -fx-background-color: GRAY;
}

.track-background {
    -fx-background-color: BLACK;
}

:vertical {
    -fx-background-color: transparent;
}

:horizontal {
}

.scroll-bar {
    -fx-font-size: 20px;
}

.increment-arrow {
    -fx-background-color: transparent;
}

.decrement-arrow {
    -fx-background-color: transparent;
}

.checkbox {
    /* -fx-background-color:#22282c; */
    -fx-padding: 15px;
    -fx-padding-left: 30px;
    -fx-text-fill: WHITE;
    -jfx-button-type: RAISED;
    -fx-background-insets: 0;
}

.jfx-dialog-layout .jfx-layout-heading .text {
    -fx-fill: #2196f3;
}

.combo-box .combo-box-popup .list-view,
.combo-box .combo-box-popup .list-cell {
    -fx-background-color: #3d453f;
    -fx-font-weight: bold;
    -fx-text-fill: #d9c750;
    -fx-font-size: 23px;
}
.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: #3d453f;
    -fx-font-weight: bold;
    -fx-text-fill: #d9c750;
    -fx-font-size: 23px;
}
.list-cell:filled:selected,
.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #3d453f;
    -fx-font-weight: bold;
    -fx-text-fill: #d9c750;
    -fx-font-size: 23px;
}
.text-input {
    -fx-font-size: 23px;
    -fx-background-color: #3d453f;
    -fx-font-weight: bold;
    -fx-text-fill: #d9c750;
}
